.containerInvoices {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  
  .containerInvoices__page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .containerInvoices__header {
      display: flex;
      justify-content: space-between;

      h1 {
        width: 600px;
        margin: 0;
        font-size: 32px;
      }

      p {
        margin: 0;
        color: $text_lessOpacity;
      }
    }

    .containerInvoices__containerButtons {
      display: flex;
      width: 50%;
      gap: 20px;
    }
    
    //Config scrollbar
    .containerInvoices__invoices::-webkit-scrollbar {
      width: 5px;
    }
    
    .containerInvoices__invoices::-webkit-scrollbar-track {
      background-color: transparent;
    }
    
    .containerInvoices__invoices::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 5px;
    }

    .containerInvoices__invoices {
      position: relative;
      max-width: 900px;
      width: 100%;
      height: 100%;
      margin-top: 80px;
      overflow-y: scroll;
      overflow-x: hidden;
      scrollbar-width: thin;
      -ms-overflow-style: none;

      .noInvoices {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
      }

      .containerInvoices__invoice { 
        height: 72px;
        margin-bottom: 40px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        box-shadow: $boxShadow;
        background-color: $invoiceArray_bg;
        color: black;

        &.darkmode {
          @include darkmode($invoiceArray_bg_darkmode, $text_primaryColor_darkmode)
        }
        .invoice__arrow {
          width: 12px;
          transform: rotate(90deg);
        }
      }
    }
  }
}

.containerInvoices__invoice p:nth-child(1) {
  padding-left: 40px;
}

#lessWidth--endText {
  width: 70%;
  display: flex;
  justify-content: end;
}

#invoice__lastElem--lessWidth{
  width: 50%;
  margin-left: 40px;
  margin-right: 40px;
}