@mixin darkmode($background-color, $color) {
  background-color: $background-color;
  color: $color;
}
.div1 {
  &.darkmode {
    @include darkmode(yellow, green)
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: $primary_bg;

  &.darkmode {
    @include darkmode(black, red)
  }
}

button {
  cursor: pointer;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fwbold {
  font-weight: bold;
}

.lessOpacity {
  color: $text_lessOpacity;
}